<div ng-include="'components/navbar/navbar.html'"></div>
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1>Admin Panel</h1>
            <table>
                <tr>
                    <td>
                        <md-button class="md-primary md-raised" ng-click="addGym()">
                            Add gym
                        </md-button>
                    </td>
                    <td>
                        <md-button class="md-primary md-raised" ng-click="listGyms()">
                            List Gyms
                        </md-button>
                    </td>

                    <td>
                        <md-button class="md-primary md-raised" ng-click="addTrainer()">
                            Add Trainer
                        </md-button>
                    </td>
                    <td>
                        <md-button class="md-primary md-raised" ng-click="listTrainers()">
                            List Trainers
                        </md-button>
                    </td>

                    <td>
                        <md-button class="md-primary md-raised" ng-click="addNutritionist()">
                            Add Nutritionist
                        </md-button>
                    </td>
                    <td>
                        <md-button class="md-primary md-raised" ng-click="viewNutritionists()">
                            View Nutritionists
                        </md-button>
                    </td>
                </tr>


            </table>
        </div>
    </div>
</div>
