<div ng-include="'components/navbar/navbar.html'"></div>
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1>DashBoard</h1>

            <!-- <h2>Add book</h2>
            <form class="form card-frame" name="form" ng-submit="addBook(form)" novalidate>
                <md-input-container flex>
                    <label>Name</label>
                    <input type="text" name="name" ng-model="book.name" required>
                </md-input-container>
                <md-input-container flex>
                    <label>Author</label>
                    <input type="text" name="author" ng-model="book.author" required>
                </md-input-container>
                <md-input-container flex>
                    <label>ISBN</label>
                    <input type="text" name="isbn" ng-model="book.ISBN" required>
                </md-input-container>
                <div>
                    <md-button class="md-primary md-raised" type="submit">
                        Save
                        </button>
                </div>
            </form>
            
            <h2> Book Shelf <h2>
            <table>
                <tr><th>Title</th><th>Author</th><th>ISBN</th></tr>
                <tr><td>Title1</td><td>Author1</td><td>ISBN1</td></tr>
                <div ng-repeat='book in books'> 
                <tr><td>{{book.name}}</td><td>{{book.author}}</td><td>{{book.ISBN}}</td></tr>
                </div>
            </table> -->

        </div>
    </div>
</div>
