<div ng-include="'/components/navbar/navbar.html'"></div>
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1>Add Nutritionist</h1>
            <form class="form card-frame" name="form" ng-submit="addNutritionist(form)" enctype="multipart/form-data"
                  novalidate>
                <md-input-container flex>
                    <label>Name</label>
                    <input type="text" name="name" ng-model="nutritionist.name" required>
                </md-input-container>
                <md-content layout-padding>
                    Gender
                    <md-radio-group ng-model="nutritionist.gender" required>
                        <md-radio-button value="Male" aria-label="Label 1">
                            Male
                        </md-radio-button>
                        <md-radio-button value="Female" aria-label="Label 2">
                            Female
                        </md-radio-button>
                    </md-radio-group>
                </md-content>
                <md-input-container flex>
                    <label>Phone</label>
                    <input type="text" name="phone" ng-model="nutritionist.phone" required>
                </md-input-container>
                <md-content layout-padding>
                    Address
                    <md-input-container flex>
                        <label>Number</label>
                        <input type="text" name="number" ng-model="nutritionist.number" required>
                    </md-input-container>
                    <md-input-container flex>
                        <label>Street</label>
                        <input type="text" name="street" ng-model="nutritionist.street" required>
                    </md-input-container>
                    <md-input-container flex>
                        <label>City</label>
                        <input type="text" name="city" ng-model="nutritionist.city" required>
                    </md-input-container>
                </md-content>
                <md-input-container flex>
                    Availability
                    <md-radio-group ng-model="nutritionist.availability" required>
                        <md-radio-button name="true" ng-value="true" aria-label="Label 1">
                            Yes
                        </md-radio-button>
                        <md-radio-button name="false" ng-value="false" aria-label="Label 2">
                            No
                        </md-radio-button>
                    </md-radio-group>
                </md-input-container>
                <md-input-container flex>
                    <label>Rating</label>
                    <input type="text" name="rating" ng-model="nutritionist.rating" required>
                </md-input-container>
                <md-input-container flex>
                    <label>Latitiude</label>
                    <input type="text" name="latitude" ng-model="nutritionist.latitude" required>
                </md-input-container>
                <md-input-container flex>
                    <label>Longitude</label>
                    <input type="text" name="longitude" ng-model="nutritionist.longitude" required>
                </md-input-container>

                <div>
                    <md-button class="md-primary md-raised" type="submit">
                        Save
                    </md-button>
                </div>
            </form>
        </div>
    </div>
</div>
