<div ng-include="'/components/navbar/navbar.html'"></div>
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1>Nutritionists</h1>
            <table class="table">
                <tr>
                
                    <th>Name</th>
                    <th>Gender</th>
                    <th>Phone</th>
                    <th>Address</th>
                    <th>Availability</th>
                    <th>Rating</th>
                </tr>
                <tr ng-repeat="nutritionist in nutritionists">
                    <td>{{nutritionist.name}}</td>
                    <td>{{nutritionist.gender}}</td>
                    <td>{{nutritionist.phone}}</td>
                    <td>{{nutritionist.address.no}}{{','}}{{nutritionist.address.street}}{{','}}{{nutritionist.address.city}}</td>
                    <td>{{nutritionist.availability}}</td>
                    <td>{{nutritionist.rating}}</td>
                    <td><button class="md-primary md-raised" ng-click="editNutritionist(nutritionist)">Edit</button>
                        <button class="md-warn" ng-click="deleteNutritionist(nutritionist)">Delete</button>
                    </td>
                </tr>
            </table>

        </div>
    </div>
</div>
