<div ng-include="'/components/navbar/navbar.html'"></div>
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h1>Trainers List</h1>
            <table class="table">
                <tr>
                    <th>Name</th>
                    <th>Phone</th>
                    <th>Location</th>
                    <th>Services</th>
                    <th>Price</th>
                    <th>Certification</th>
                    <th>Insured</th>
                    <th>Facility Or House Calls</th>
                    <th>Rating</th>

                </tr>
                <tr ng-repeat="trainer in trainersList">
                    <td>{{trainer.name}}</td>
                    <td>{{trainer.phone}}</td>
                    <td>{{trainer.location}}</td>
                    <td>{{trainer.services}}</td>
                    <td>{{trainer.price}}</td>
                    <td>{{trainer.certification}}</td>
                    <td>{{trainer.insureStatus}}</td>
                    <td>{{trainer.facilityOrHouseCalls}}</td>
                    <td>{{trainer.rating}}</td>
                    <td><button class="md-primary md-raised" ng-click="editTrainer(trainer)">Edit</button>
                        <button class="md-warn" ng-click="deleteTrainer(trainer)">Delete</button>
                    </td>
                </tr>
            </table>

        </div>
    </div>
</div>
